<h1 class="form-title">Add a new Toy Story character</h1>

<form class="form" action="/new" method="POST">

  <label for="image">Image URL</label><br>
  <input id="image" name="image" required><br><br>

  <label for="name">Name</label><br>
  <input id="name" name="name" required><br><br>

  <label for="hobby">Hobby</label><br>
  <input id="hobby" name="hobby" required><br><br>

  <label for="favSong">Favourite Song</label><br>
  <input id="favSong" name="favSong" required><br><br>

  <label for="favQuote">Favourite Quote</label><br>
  <input id="favQuote" name="favQuote" required><br><br><br>

  <button class="addButton">Add Character</button><br><br>
</form>

{{> return}}